/* Fonts */
@font-face {
    font-family: 'CoconNextArabicLight';
    src: url(../fonts/cocon-next-arabic.ttf) format('truetype');
  }
/* End Fonts */

  /* Custom For All Elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

  * .section-title {
    font-size: 53px;
    text-shadow: -4px 3px 4px rgba(0,0,0,0.58);
  }

  body {
    font-family: 'CoconNextArabicLight';
  }

  .float {
    background-color: #f9fafc;
    border-radius: 15px;
    padding: 5px;
    position: fixed;
    top: 35vh;
    z-index: 99;
  }

  .float .home, .float .calendar, .float .clock {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gainsboro;
  }

  .float .home:hover, .float .calendar:hover, .float .clock:hover {
    background-color: #ffc107;
  }

  .float .home a, .float .calendar a, .float .clock a {
    font-size: 20px;
    color: #111;
  }

  /* End Custom */

  /* Top Section */

  .header {
    background: -webkit-linear-gradient(#24bed1,#aed7e9);
  }

  .nav-shadow {
    width: 100%;
    height: 1.5px;
    background-color: #24bed1;
    box-shadow: 0px 15px 10px -15px #111;    
  }

  .dropdown-menu {
    border-radius: 0;
  }

  .dropdown-menu a {
    border-bottom: 1px solid #f9f2f2;
  }

  .header .socialmedia-icons a:hover {
    color: #ffc107 !important;
    padding-bottom: 5px;
  }

  .header .button .btn {
    padding: 5px 10px;
    border-radius: 3px !important;
  }

  .header .separator {
    width: 100%;
    height: 1.5px;
    background-color: #fff;
  }

  .header .search-form {
    border-radius: 3px;
  }

  .header .search-form input, .header .search-form button {
    border-radius: 4px;
  }

  .header .search-form input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .header .search-form button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .navbar {
    box-shadow: 0px 15px 10px -8px rgba(0,0,0,0.25);
  }


  .navbar .nav-link:hover {
    color: #ffc107;
  }

/* End Top Section */


/* News Section */
.news-section .item {
    font-size: 14px;
    box-shadow: -1px -1px 22px -5px rgba(0,0,0,0.49);
    position: relative;
}


.news-section .item img {
    border-radius: 2px;
}

.news-section .item:hover {
    transform: scale(1.1);
}

.news-section .owl-item.active {
  opacity: 1;
}

.news-section .owl-item.active:hover {
  z-index: 99;
}

.news-section .owl-item {
  opacity: 0;
}

.news-section .owl-carousel .owl-stage-outer {
  overflow: initial;
}

#owl-2 {
  overflow: hidden;
}

.news-section .item-data {
    position: absolute;
    top: 50%;
}

.news-section .item-data .label {
    color: #fff;
    background-color: gray;
    padding: 5px;
}

.news-section .item-data .date {
    color: #111;
    background-color: #fff;
    border-top-left-radius: 5px;
    padding: 5px;
}

.news-section .item-info {
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}


/* End News Section */


/* Releases Section */

.releases-section .item {
    font-size: 14px;
    position: relative;
}

.releases-section .owl-nav {
    padding: 20px;
}


.releases-section .owl-nav span {
    font-size: 42px;
    padding: 10px 30px;
    color: #fff;
    background-color: gray;
    border-radius: 50%;
  }

.releases-section .owl-nav .owl-prev {
    color: gray !important;
    position: absolute;
    top: 28%;
    left: -6%;
}

.releases-section .owl-nav .owl-next {
    color: gray !important;
    position: absolute;
    top: 28%;
    right: -6%;
}

.releases-section .owl-nav .owl-prev:hover, .releases-section .owl-nav .owl-next:hover {
  background-color: transparent;
}

.releases-section .item img {
    border-radius: 2px;
}

.releases-section .item-author {
    position: absolute;
    bottom: 40%;
    right: 5%;
}

.releases-section .author-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.releases-section .author-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.releases-section .author-name {
    color: #fff;
}

.releases-section .item-data {
    position: relative;
}

  .releases-section .section-subtitle, .books-section .section-subtitle {
    font-size: 30px;
    position: relative;
  }

  .releases-section .before-subtitle {
    width: 25px;
    height: 30px;
    background-color: gray;
  }

  .releases-section .after-subtitle, .books-section .after-subtitle {
    width: 100%;
    height: 1.5px;
    background-color: gray;
  }

/* End Releases Section */


/* Books Section */

.books-section .item {
    position: relative;
}

.books-section .owl-nav {
    padding: 20px;
}


.books-section .owl-nav span {
    font-size: 64px;
  }

.books-section .owl-nav .owl-prev {
    color: green !important;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: -6%;
}

.books-section .owl-nav .owl-next {
    color: green !important;
    position: absolute;
    top: 50%;
    right: -6%;
}

.owl-theme .owl-dots .owl-dot span {
    background: rgb(145, 213, 145);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span  {
    background: green;
}

.books-section .owl-nav .owl-prev:hover, .books-section .owl-nav .owl-next:hover {
  background-color: transparent;
}

/* End Books Section */


/* Magazine Section */


  .magazine-section .summary {
    background-color: #f9fafc;
  }


  .magazine-section .summary-title .title {
    font-size: 24px;
    position: relative;
    z-index: 2;
  }

  .magazine-section  .overlay {
    font-size: 28px;
    color: #f9f2f2;
    position: absolute;
    left: 0;
  }

  .magazine-section .summary-subtitle {
    font-size: 18px;
  }

  .magazine-section .summary .straight-line {
    height: 100%;
    width: 5px;
    border-radius: 3px;
    background-color: gainsboro;
    position: absolute;
    overflow: hidden;
  }

  .magazine-section .summary .dot {
    width: 25px;
    height: 25px;
    border: 4px solid #f9f2f2;
    border-radius: 50%;
    background-color: #ffc107;
    position: relative;
    right: 3%;
  }

  .magazine-section .summary .point {
    border: 2px solid gainsboro;
    padding: 20px 50px;
    margin: 5px 0;
  }

  .magazine-section .archive-button .btn {
    border-radius: 20px;
    border-width: 3px;
  }


  .magazine-section .summary .point-title {
    font-size: 16px;
    color: black;
  }

  .magazine-section .summary .author {
    font-size: 16px;
    color: #24bed1;
  }

  .magazine-section .summary .author:hover {
    cursor: pointer;
    color: #ffc107;
  }

  .magazine-section .summary .point-desc {
    font-size: 16px;
    color: gray;
  }

/* End Magazine Section */


/* Meters Section */

  .meters-section .item {
      position: relative;
  }

  .meters-section .owl-nav {
      padding: 20px;
  }


  .meters-section .owl-nav span {
      font-size: 42px;
      padding: 10px 30px;
      color: #fff;
      background-color: #0b5ed7;
      border-radius: 50%;
    }

  .meters-section .owl-nav .owl-prev {
      color: #0b5ed7 !important;
      position: absolute;
      top: 50%;
      left: -6%;
  }

  .meters-section .owl-nav .owl-next {
      color: #0b5ed7 !important;
      position: absolute;
      top: 50%;
      right: -6%;
  }

  .meters-section .owl-nav .owl-prev:hover, .meters-section .owl-nav .owl-next:hover {
    background-color: transparent;
  }

  .meters-section .item h4 {
    color: rgb(93, 157, 157);
  }

  .meters-section .item p {
    color: #0b5ed7;
  }

  .meters-section .summary .first-decoration {
    width: 75%;
    height: 15px;
    background-color: rgb(93, 157, 157);
  }

  .meters-section .summary .second-decoration {
    width: 65%;
    height: 15px;
    background-color: #0b5ed7;
  }

/* End Meters Section */


/* App Section */

  .app-section .container-fluid {
    position: relative;
  }

  .app-section .app-summary .text p {
    font-size: 50px;
  }

  .app-section span{
    color: green;
  }

  .app-section .app-summary .text small {
    font-size: 18px;
  }

  .app-section .app-summary .btn {
    color: #fff;
    background-color: rgb(7, 158, 7);
    padding: 10px 15px;
    border-radius: 12px;
  }

  .app-section .app-summary .btn:hover {
    background-color: green;
  }

  .app-section .background {
    width: 100%;
    height: 50%;
    background-color: #f9fafc;
    position: absolute;
    top: 25%;
    left: 0;
    z-index: -1;
  }

/* End App Section */


/* Newsletter Section */


  .newsletter-section .newsletter {
    background-color: gainsboro;
  }

  .newsletter-section .newsletter p {
    font-size: 42px;
    padding: 40px 0;
  }

  .newsletter-section .newsletter input {
    background-color: #aed7e9;
    padding: 20px 20px;
    border-radius: 30px;
  }

  .newsletter-section .newsletter .btn {
    padding: 20px 20px;
    border-radius: 30px;
  }

  .newsletter-section .newsletter .platforms .platform {
    padding: 20px;
    background-color: rgb(180, 178, 178);
    border-radius: 50%;
  }

  .newsletter-section .newsletter .platforms a {
    color: green;
    text-decoration: none;
    font-size: 32px;
  }

  .newsletter-section .newsletter .platforms a:hover {
    color: #ffc107;
  }

/* End Newsletter Section */


/* Footer Section */

  .footer-section .footer {
    background-color: #aed7e9;
  }

  .footer-section .footer input {
    background-color: #24bed1;
    padding: 7px 30px;
    border-radius: 20px;
  }

  .footer-section .footer .btn {
    padding: 7px 20px;
    border-radius: 20px;
  }

  .footer-section .footer .platforms .platform {
    padding: 10px;
    background-color: rgb(180, 178, 178);
    border-radius: 50%;
  }

  .footer-section .footer .platforms a {
    color: black;
    text-decoration: none;
    font-size: 24px;
  }

  .footer-section .footer .platforms a:hover {
    color: #ffc107;
  }

  .footer-section .footer ul {
    list-style: none;
  }

  .footer-section .footer li {
    padding: 10px 0;
  }

  .footer-section .footer .links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
  }

  .footer-section .footer .links a:hover {
    color: #ffc107;
    padding-right: 5px;
  }

  .footer-section .footer .reach-out a {
    color: #24bed1;
    text-decoration: none;
    font-size: 16px;
  }

  .footer-section .footer .reach-out a:hover {
    color: #ffc107;
    padding-right: 5px;
  }

/* End Footer Section */


  /* Media Query */

  @media all and (max-width: 1400px) {
    .releases-section .owl-nav .owl-prev, .books-section .owl-nav .owl-prev, .meters-section .owl-nav .owl-prev {
        padding: 20px;
        position: absolute;
        top: 28%;
        left: -2%;
    }
    
    .releases-section .owl-nav .owl-next, .books-section .owl-nav .owl-next, .meters-section .owl-nav .owl-next {
        position: absolute;
        top: 28%;
        right: -2%;
    }
  }

  @media all and (max-width: 1199px) {
    * .section-title {
      font-size: 38px;
    }

    .app-section .app-summary .text p {
      font-size: 28px;
    }
  
    .app-section .app-summary .text small {
      font-size: 16px;
    }

    .newsletter-section .newsletter p {
      font-size: 32px;
    }

    .newsletter-section .newsletter input {
      padding: 15px 15px;
    }
  
    .newsletter-section .newsletter .btn {
      padding: 15px 15px;
    }

    .newsletter-section .newsletter .platforms a {
      font-size: 28px;
    }

    .books-section .owl-nav .owl-prev span {
        font-size: 64px;
    }
    
    .books-section .owl-nav .owl-next span {
        font-size: 64px;
    }
    
    .releases-section .owl-nav .owl-prev, .books-section .owl-nav .owl-prev, .meters-section .owl-nav .owl-prev {
        padding: 20px;
        position: absolute;
        top: 28%;
        left: -1%;
    }
    
    .releases-section .owl-nav .owl-next, .books-section .owl-nav .owl-next, .meters-section .owl-nav .owl-next {
        position: absolute;
        top: 28%;
        right: -1%;
    }

  }

  @media all and (max-width: 991px) {
    * .section-title {
      font-size: 38px;
    }

    .app-section .app-summary .text p {
      font-size: 20px;
    }
  
    .app-section .app-summary .text small {
      font-size: 16px;
    }

    .app-section .background {
      height: 80%;
      top: 10%;
    }

    .newsletter-section .newsletter p {
      font-size: 32px;
    }

    .newsletter-section .newsletter input {
      padding: 15px 15px;
    }
  
    .newsletter-section .newsletter .btn {
      padding: 15px 15px;
    }

    .newsletter-section .newsletter .platforms a {
      font-size: 28px;
    }

  .meters-section .item h4 {
    font-size: 18px;
  }

  .meters-section .item p {
    font-size: 16px;
  }

  .books-section .owl-nav .owl-prev span {
    font-size: 64px;
}

.books-section .owl-nav .owl-next span {
    font-size: 64px;
}

.releases-section .owl-nav .owl-prev, .books-section .owl-nav .owl-prev, .meters-section .owl-nav .owl-prev {
    padding: 20px;
    position: absolute;
    top: 28%;
    left: -3%;
}

.releases-section .owl-nav .owl-next, .books-section .owl-nav .owl-next, .meters-section .owl-nav .owl-next {
    position: absolute;
    top: 28%;
    right: -3%;
}

  }

  @media all and (max-width: 767.20px) {
    * .section-title {
      font-size: 32px;
    }

    .app-section .app-summary .text p {
      font-size: 40px;
    }
  
    .app-section .app-summary .text small {
      font-size: 16px;
    }

    .app-section .background {
      height: 100%;
      top: 0%;
    }

    .newsletter-section .newsletter p {
      font-size: 28px;
    }

    .newsletter-section .newsletter input {
      padding: 10px 10px;
    }
  
    .newsletter-section .newsletter .btn {
      padding: 10px 10px;
    }

    .newsletter-section .newsletter .platforms a {
      font-size: 24px;
    }

    .meters-section .item h4 {
      font-size: 16px;
    }
  
    .meters-section .item p {
      font-size: 14px;
    }

    .books-section .owl-nav .owl-prev span {
        font-size: 64px;
    }
    
    .books-section .owl-nav .owl-next span {
        font-size: 64px;
    }
    
    .releases-section .owl-nav .owl-prev, .books-section .owl-nav .owl-prev, .meters-section .owl-nav .owl-prev {
        padding: 20px;
        position: absolute;
        top: 28%;
        left: 0;
    }
    
    .releases-section .owl-nav .owl-next, .books-section .owl-nav .owl-next, .meters-section .owl-nav .owl-next {
        position: absolute;
        top: 28%;
        right: 0;
    }

  }

  @media all and (max-width: 575px) {
    * .section-title {
    font-size: 28px;
  }

  .app-section .app-summary .text p {
    font-size: 40px;
  }

  .app-section .app-summary .text small {
    font-size: 16px;
  }

  .app-section .background {
    height: 100%;
  }

  .newsletter-section .newsletter p {
    font-size: 28px;
  }

  .newsletter-section .newsletter input {
    padding: 10px 10px;
  }

  .newsletter-section .newsletter .btn {
    padding: 10px 10px;
  }

  .newsletter-section .newsletter .platforms a {
    font-size: 24px;
  }

  .releases-section .owl-nav span {
    font-size: 28px;
    padding: 10px 25px;
    margin: 20px 0;
    color: #fff;
    border-radius: 50%;
  }

  .meters-section .owl-nav span {
    font-size: 28px;
    padding: 10px 25px;
    margin: 20px 0;
    color: #fff;
    background-color: #0b5ed7;
    border-radius: 50%;
  }

  .releases-section .owl-nav .owl-prev, .books-section .owl-nav .owl-prev, .meters-section .owl-nav .owl-prev {
      position: absolute;
      top: 28%;
      left: 0%;
  }

  .releases-section .owl-nav .owl-next, .books-section .owl-nav .owl-next, .meters-section .owl-nav .owl-next {
      position: absolute;
      top: 28%;
      right: 0%;
  }

.meters-section .item h4 {
  font-size: 16px;
}

.meters-section .item p {
  font-size: 14px;
}

.books-section .owl-nav .owl-prev span {
  font-size: 64px;
}

.books-section .owl-nav .owl-next span {
  font-size: 64px;
}

.footer-section .footer .reach-out p, .footer-section .footer .links a, .footer-section .summary p {
  font-size: 14px;
}

.footer-section .footer .reach-out a {
  font-size: 12px;
}

}

  /* End Custom */
